*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}


html{
scroll-behavior:smooth;
}


body{

background:#050505;
color:white;

}


header{

position:fixed;
top:0;
width:100%;
padding:20px 10%;
display:flex;
justify-content:space-between;
background:#050505cc;
backdrop-filter:blur(10px);
z-index:100;

}


.logo{

color:#8b5cf6;
font-size:25px;
font-weight:bold;

}


nav a{

color:white;
margin-left:25px;
text-decoration:none;

}


.hero{

height:100vh;
display:flex;
align-items:center;
padding:0 10%;

}


.content{

animation:show 1s;

}


h1{

font-size:60px;

}


h1 span{

color:#8b5cf6;

}


.hero h2{

margin-top:20px;
color:#aaa;

}


.hero p{

margin-top:20px;
max-width:600px;
color:#bbb;
line-height:1.6;

}


.buttons{

margin-top:30px;

}


.buttons a{

padding:12px 30px;
background:#8b5cf6;
border-radius:10px;
color:white;
text-decoration:none;
margin-right:10px;

}



section{

padding:100px 10%;

}



section h2{

text-align:center;
font-size:40px;
margin-bottom:40px;

}



.box,
.card{

background:#111;
border:1px solid #222;
padding:25px;
border-radius:15px;

}



.cards{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;

}


.card{

transition:.3s;

}


.card:hover{

transform:translateY(-10px);
border-color:#8b5cf6;

}



.card h3{

color:#8b5cf6;
margin-bottom:10px;

}



.card p{

color:#aaa;

}



.skills{

display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;

}


.skills span{

background:#111;
padding:20px;
border-radius:15px;
border:1px solid #222;

}



#contact{

text-align:center;
color:#aaa;

}




@keyframes show{

from{

opacity:0;
transform:translateY(40px);

}

to{

opacity:1;
transform:translateY(0);

}

}
